<div class="row">
  <% if current_user.admin %>
    <%#= button_to "Create Game", new_game_path(@game), method: 'get', class: "btn btn-primary create-game"%>
    <div id="game-form-button"><button class="btn btn-primary create-game">Create Game</button></div>
  <% end %>
</div>
<div class="errors" style="color: red;"></div>
<div class="row create-game-container">
</div>
<br>
<div class="row">
  <div class="col col-md-6">
    <h3>All Games</h3>
    <button class="all-games">Show Games</button>
    <div class="col" id="all-games">

    </div>
  </div>
  <div class="col col-md-6">
    <h3>Playable Games</h3>
    <button class="playable-games">Show Games</button>
    <div class="col" id="playable-games">

    </div>
  </div>
</div>
